#clientes h3, h4 {
    text-align: center;
}

#clientes .conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#clientes article {
    margin: 15px;
}

#clientes img  {
    width: 100%;
    max-width: 280px;
    transition: all 0.5s ease;
}

#clientes img:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    height: 250px;
}